header {
	padding-left: 15%;
	padding-bottom: 10px;
	font-size:20px;
	display: inline;

}
header a{
	text-decoration: none;
	color: white;
	padding-left: 100px;
}
header a:hover{
	text-decoration: underline;
	color: white;
	padding-left: 100px;
}
#auth {
	float: right;
	color: white;
}
header a.title {
	text-decoration: none;
}

#container {
	margin: auto;
	color: red;
}